<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=clinic.db" providerName="Microsoft.Data.Sqlite" />
    </connectionStrings>
    
    <appSettings>
        <add key="ApplicationName" value="Sistema de Agendamento Médico" />
        <add key="Version" value="1.0" />
    </appSettings>
</configuration>
